@media (max-width:1399px ){
	header {
    height: 700px;
	}
	.container {
    width: 1100px;
	}
	header .container .logo {
    width: 15%;
	}
	header .container nav {
    width: 85%;
	}
	.speech-section {
    padding: 50px 0px;
	}
	.speech-section .container .col-2-1 i {
    font-size: 120px;
	}
	.event-section {
    padding-top: 60px;
    padding-bottom: 45px;
	}
	.explore-section {
    height: 550px;
	}
	.explore-section .container .col-2-1 h1 {
    font-size: 62px;
    padding-bottom: 10px;
	}
	.explore-section .container .col-2-1 p {
    margin-bottom: 15px;
	}
	.tour-section {
    padding: 90px 0px;
	}
	.tour-section .container .col-2-1-s1 h1 {
    font-size: 32px;
    margin-bottom: 20px;
	}
	.tour-section .container .col-2-1-s1 h2 {
    font-size: 16px;
    color: #505050;
    font-weight: 400;
    margin-bottom: 15px;
	}
}

@media (max-width:1199px ){
	.container {
    width: 950px;
	}
	.event-section .container .col-2-1 .box h2 {
    width: 400px;
	}
	header .container nav ul li a {
    font-size: 18px;
    padding: 8px 20px;
    border-radius: 30px;
    display: inline-block;
	}
	header .banner-section h1 {
    font-size: 55px;
	}
	header .banner-section p {
    font-size: 22px;
    margin-bottom: 0px;
	}
	header {
    height: 650px;
	}
	.speech-section {
    padding: 40px 0px;
	}
	.speech-section .container .col-2-1 i {
    font-size: 100px;
	}
	.speech-section .container .col-2-1 h3 {
    font-size: 18px;
	}
	.event-section .container h1 {
    font-size: 35px;
    margin: 15px 0px;
	}
	.explore-section {
    height: 520px;
	}
	.explore-section .container .col-2-1 h1 {
    font-size: 55px;
    padding-bottom: 5px;
	}
	.explore-section .container .col-2-1 p {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
	}
	.explore-section .container .col-2-1 {
    padding-top: 105px;
	}
	.tour-section {
    padding: 70px 0px;
	}
	.tour-section .container .col-2-1-s1 {
    width: 35%;
	}
	.tour-section .container .col-2-1-s2 {
    width: 65%;
	}
}

@media (max-width: 991px){
	header .container .logo {
    width: 20%;
	}
	header .container nav {
    width: 80%;
	}
	header .container nav ul {
    justify-content: center;
	}
	.container {
    width: 700px;
	}
	.event-section .container .col-2-1 .box h2 {
    width: 300px;
	}
	.event-section .container .col-2-1 {
    padding: 15px;
	}
	.explore-section {
    height: 500px;
	}
	.explore-section .container .col-2-1 {
    padding-top: 80px;
	}
	.tour-section .container .col-2-1-s1 {
    width: 40%;
	}
	.tour-section .container .col-2-1-s2 {
    width: 60%;
	}
	.tour-section .container .col-2-1-s1 h1 {
    font-size: 28px;
    margin-bottom: 10px;
	}
	.btn {
    color: #fff;
    background-color: #FB2056;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 25px;
    font-size: 16px;
	}
	footer {
    padding: 35px 0px;
	}
	footer .container h5 {
    font-size: 14px;
	}
}
@media (max-width:767px ){
	.container {
    width: 550px;
	}
	.event-section .container .col-2-1 .box h2 {
    width: 250px;
	}
	header {
    height: 620px;
	}
	header .container .logo {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
	}
	.logo img {
    width: 200px;
	}
	header .container nav {
    width: 100%;
	}
	header .banner-section h1 {
    font-size: 40px;
	}
	header .banner-section p {
    font-size: 18px;
    margin-bottom: 0px;
	}
	header .banner-section {
    flex-direction: column;
    justify-content: center;
    height: 60%;
	}
	.speech-section {
    padding: 30px 0px;
	}
	.speech-section .container .col-2-1 i {
    font-size: 75px;
	}
	.speech-section .container .col-2-1 h3 {
    font-size: 16px;
	}
	.speech-section .container .col-2-1 h4 {
    font-size: 16px;
	}
	.event-section {
    padding-top: 30px;
    padding-bottom: 30px;
	}
	.explore-section {
    height: 235px;
	}
	.explore-section .container .col-2-1 {
    padding-top: 0px;
	}
	.explore-section .container .col-2-1 h1 {
    font-size: 32px;
    padding-bottom: 5px;
	}
	.underline-color {
    background-color: #FB2056;
    height: 2px;
    width: 75px;
    display: inline-block;
    margin: 5px 0px;
	}
	.explore-section .container .col-2-1 p {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
	}
	.explore-section .container .col-2-1 a {
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 4px;
    color: #ffffff;
	}
	.explore-section {
    background-size: contain;
	}
	.tour-section {
    padding: 50px 0px;
	}
	.tour-section .container .col-2-1-s1 h1 {
    font-size: 22px;
	}
	.tour-section .container .col-2-1-s1 {
    flex: 0 0 auto;
    width: 30%;
    padding: 0px 5px;
	}
	footer .container h5 {
    font-size: 14px;
    width: 455px;
    margin: auto;
	}
	.tour-section .container .col-2-1-s2 {
    width: 100%;
	}
	.tour-section .container .col-2-1-s1 {
    width: 100%;
    margin-bottom: 15px;
	}
}
@media (max-width: 575px){
	.container{
		width: 100%;
	}
	.event-section .container .col-2-1 .box h2 {
    width: 100%;
	}
}
